@import "../../App.scss";

.container {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  gap: 20px;
  @include md{
    flex-direction: column;
    // gap: 1100px;
  }
  .left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    p {
      font-weight: 900;
      font-size: 35px;
      letter-spacing: 1px;
      span {
        color: gray;
      }
    }
    img {
      border-radius: 8px;
      width: 500px;
      height: 300px;
      @include md{
        width: 100%;
        height: 200px;
      }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 50vw;
    .wrapper {
      display: flex;
      margin-top: -30px;
      .article {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;

        .menu {
          width: 50px;
          height: 50px;
          background-color: wheat;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          border: none;
          box-shadow: 0px 0px 3px;
        }
        .para {
          display: flex;
          flex-direction: column;
          gap: 15px;
          justify-content: flex-start;
          .p1 {
            font-weight: 700;
            font-size: 25px;
            letter-spacing: 1px;
          }
          .p2 {
            color: grey;
            font-weight: 500;
            letter-spacing: 0.7px;
          }
        }
      }
    }
  }
}
